section(class="gallery" id="gallery")
    .container.container--gallery
        .gallery__title
            h2.gallery__title-text.title Галерея
        .gallery__pictures
            ul.gallery__pictures-list
                - var width = "380"
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/1.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/2.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/service/body.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/3.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/1.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/4.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/gallery/comp.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/service/tires.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="assets/img/service/wash.jpg" width=width height="300")
        .gallery__works
            h2.gallery__works-title.title Наши работы
            ul.gallery__works-list
                li.gallery__works-item
                    .gallery__comparison(id="myImageCompare")
                        .compare__before(style="display: none;")
                            img.works__pic(src="assets/img/gallery/before.jpg")
                        .compare__after
                            img.works__pic(src="assets/img/gallery/after.jpg")
                li.gallery__works-item
                    .gallery__comparison(id="myImageCompare1")
                        .compare__before(style="display: none;")
                            img.works__pic(src="assets/img/gallery/toy_before.jpg")
                        .compare__after
                            img.works__pic(src="assets/img/gallery/toy_after.jpg")
